<% if @user.exercises.any? %>
  <%= sortable "name", "Sort By Name", "exercise", @user %>
  <%= sortable "calories", "Sort By Calories", "exercise", @user %>
  <% @exercises.each do |exercise| %>
    <p><%= exercise.name %>: <%= exercise.calories %></p>
  <% end %>
  <%= will_paginate @exercises, :params => { :controller => 'users', :action => 'show', :id => @user.id }, :param_name => 'exercise_paginate' %>
  <h4>Total: <%= @user.exercise_calories %> calories burned</h4>
  <hr>
<% end %>
