<!DOCTYPE html>
<html>
  <head>
    <title>Cannon Beach Body</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar" role="navigation">
      <div class ='container'>
        <div class="navbar-header">
          <%= link_to "CBB", root_path, id:"homelink" %>
        </div>
        <div class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            Logged in as <%= current_user.email %> |
            <%= link_to "View Profile", user_path(current_user.id) %> |
            <%= link_to "Edit Profile", edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> |
            <%= link_to "Sign Up", new_user_registration_path, :method => "get" %></button>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
